.column {
  float:left;
  width: 30%;
  padding: 1.5%;
}

body  {
  font-family:cursive;
  color:black;
}

.redbg {
  background-color: red;
  font-family: fantasy;
  color: gold;
  border: 3px;
  border-style: outset;
  border-color: gold;
  padding: 10px;
  margin: 10px;
  text-align: justify;
}

.greenbg {
  background-color: green;
  font-family: sans-serif;
  color: red;
  border: 3px;
  border-style: outset;
  border-color: red;
  padding: 10px;
  margin: 10px;
  text-align: justify;
}

.goldbg {
  background-color: gold;
  color:green;
  border: 3px;
  border-style: outset;
  border-color: green;
  padding: 10px;
  margin: 10px;
  text-align: justify;

}
